<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>Parking Office Commands</title>
  </head>
  <body>
    <h1>Parking office status</h1>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/po/customerdetails">List of customers</a></li>
      <li>List of permits</li>
      <li><a href="/po/listlots">List of lots</a></li>
      <li><a href="/po/lotdetails">Lot details</a></li>
    </ul>

    <hr/>
    <h2>List of Commands</h2>
    <ul>
    <li th:each="command : ${commands}" th:text="${command}">.</li>
    </ul>
  </body>
</html>
