<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>Parking Office Lots</title>
    <link rel="stylesheet" href="/css/parkingoffice.css" />
  </head>
  <body>
    <h1>Parking office lots</h1>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/po/customerdetails">List of customers</a></li>
      <li>List of permits</li>
      <li><a href="/po/listlots">List of lots</a></li>
      <li><a href="/po/lotdetails">Lot details</a></li>
    </ul>
    <hr/>
    <h2>Lots</h2>

    <table>
      <tr>
        <th>Lot id</th><th>Name</th><th>Base rate</th>
        <th>Current load</th><th>Capacity</th>
        <th>Factory</th>
      </tr>
    <tr th:each="lot : ${lotdetails}">
        <td th:text="${lot.id}"></td>
        <td th:text="${lot.name}"></td>
        <td th:text="${lot.baseRate}"></td>
        <td th:text="${lot.load}"></td>
        <td th:text="${lot.capacity}"></td>
        <td th:text="${lot.parkingChargesFactory}"></td>
    </tr>
    </table>

  </body>
</html>
