<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>Parking Office Lots</title>
  </head>
  <body>
    <h1>Parking office lots</h1>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/po/customerdetails">List of customers</a></li>
      <li>List of permits</li>
      <li><a href="/po/listlots">List of lots</a></li>
      <li><a href="/po/lotdetails">Lot details</a></li>
    </ul>
    <hr/>
    <h2>List of lots</h2>
    <ul>
    <li th:each="lot : ${lots}" th:text="${lot}">.</li>
    </ul>
  </body>
</html>
